input, select {
    outline: none;
}

body {
    
    background-color: rgb(245,245,245);
    background-image: url('../images/brainWhite400-2.png');
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 630px;
    background-attachment: fixed;
    background-position: 50% 40%;  
    background-repeat: no-repeat;

}

.container {
    
position: absolute;
top: 40%;
left: 50%;
transform: translateY(-50%);
transform: translateX(-50%);
    
}

.container a {
    
  display: block;
  font-family: 'Press Start 2P';
  font-weight: normal;
  font-size: 20px; 
  text-align: center;
    
  margin-left: auto;
  margin-right: auto;
  margin-top: -16px;

  width: 240px;
  height: 26px;
  
  background-color: rgba(100,100,0,0.);
  border: 1px dotted;
  border-color: rgba(255,255,255,0);
  color: rgba(0,0,0,1);
    
}

.container a:hover, a:focus {
    
  color: rgb(255,255,255);
  text-decoration: none;
  background-color: rgba(255,0,255,1);
  border: 1px dotted rgba(0,0,0,0);
    
}

.subscript {
    
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    
    font-family: 'Press Start 2P';
    font-weight: normal;
    font-size: 8px; 
    text-align: center;
    color: rgb(0,0,0);
    
}