body {padding: 0; margin: 0; background: #000000;}
a    {color: #ffffff; text-decoration: none;}        
a:hover, a:active, a:focus { color: #de3964; }

div
{
    color:       #ffffff;
    font-family: sans-serif;
    width:       700px;
    height:      400px;
    padding:     0;
    display:     block;
    position:    absolute;
    top:         0%;
    left:        50%;
    margin-left: -350px;
    z-index:     0;
    font-size:   210%;
}

h1
{
    font-size:   100%;
    margin-left: 40px;
}

.collapsible li
{	
	list-style: none;
}

.collapsible li a:hover,
.collapsible li a:active
{
    color: #de3964;
    text-decoration:none;
}
    
.collapsible li ul
{
	list-style:    none;
    display:       none;
    padding:       0px;
    margin-bottom: 40px;
    margin-top:    10px;

    font-size:     18px;
}
   
.collapsible li ul li a
{ 
    text-decoration: underline;
}

.collapsible .dropdown > a
{
    color:           #FFFFFF;
	text-decoration: none;
    display:         block;
    margin-top:      10px;
    border-bottom:   1px dotted white;
}

.collapsible .dropdown > a:hover {}
