.text
{
    padding:     0;
    display:     block;
    position:    absolute;
    top:         10%;
    left:        10%;
    margin-top:  0px;
    margin-left: 0px;
}

.heat
{
    padding:     0;
    display:     block;
    position:    absolute;
    top:         10%;
    left:        10%;
    margin-top:  180px;
    margin-left: 360px;
    z-index:     -1;
}

.windy
{
    padding:     0;
    display:     block;
    position:    absolute;
    top:         10%;
    left:        10%;
    margin-top:  135px;
    margin-left: 280px;
    z-index:     -1;
}

.sinking
{
    padding:     0;
    display:     block;
    position:    absolute;
    top:         10%;
    left:        10%;
    margin-top:  80px;
    margin-left: -250px;
    z-index:     -1;
}