.textheat
{
    padding:     0;
    display:     block;
    position:    absolute;
    top:         10%;
    left:        10%;
}

.textwindy
{
    padding:     0;
    display:     block;
    position:    absolute;
    text-align:  center;
    top:         10%;
    left:        10%;
    margin-left: 20px;
}

.textsink
{
    padding:     0;
    display:     block;
    position:    absolute;
    text-align:  right;
    top:         10%;
    left:        30%;
    margin-top:  50px;
}

.heat
{
    padding:     0;
    display:     block;
    position:    absolute;
    top:         10%;
    left:        10%;
    margin-top:  180px;
    margin-left: 360px;
    z-index:     -1;
}

.windy
{
    padding:     0;
    display:     block;
    position:    absolute;
    top:         10%;
    left:        10%;
    margin-left: 330px;
    z-index:     -1;
}

.sinking
{
    padding:     0;
    display:     block;
    position:    absolute;
    top:         10%;
    left:        10%;
    margin-top:  120px;
    margin-left: -250px;
    z-index:     -1;
}