body {padding: 0; margin: 0; background: #ffffff;}
h2   { color: #ffffff; font-family: sans-serif;}
a    { color: #ffffff; }
        
a:hover, a:active, a:focus { color: #0000ff; }
        
canvas
{
    padding:     0;
    margin:      auto;
    display:     block;
    position:    absolute;
    top:         0;
    bottom:      0;
    left:        0;
    right:       0;
    z-index:     -1;
}

.t_left
{
    width:       128px;
    height:      128px;
    padding:     0;
    display:     block;
    position:    absolute;
    top:         50%;
    left:        50%;
    margin-top:  -144px;
    margin-left: -216px;
}

.t_center
{
    width:       128px;
    height:      128px;
    padding:     0;
    display:     block;
    position:    absolute;
    top:         50%;
    left:        50%;
    margin-top:  -144px;
    margin-left: -64px;
}

.t_right
{
    width:       128px;
    height:      128px;
    padding:     0;
    display:     block;
    position:    absolute;
    top:         50%;
    left:        50%;
    margin-top:  -144px;
    margin-left: 88px;
}

.m_left
{
    width:       128px;
    height:      128px;
    padding:     0;
    display:     block;
    position:    absolute;
    top:         50%;
    left:        50%;
    margin-top:  8px;
    margin-left: -216px;
}

.m_center
{
    width:       128px;
    height:      128px;
    padding:     0;
    display:     block;
    position:    absolute;
    top:         50%;
    left:        50%;
    margin-top:  8px;
    margin-left: -64px;
}

.m_right
{
    width:       128px;
    height:      128px;
    padding:     0;
    display:     block;
    position:    absolute;
    top:         50%;
    left:        50%;
    margin-top:  8px;
    margin-left: 88px;
}

.b_left
{
    width:       128px;
    height:      128px;
    padding:     0;
    display:     block;
    position:    absolute;
    top:         50%;
    left:        50%;
    margin-top:  160px;
    margin-left: -216px;
}

.b_center
{
    width:       128px;
    height:      128px;
    padding:     0;
    display:     block;
    position:    absolute;
    top:         50%;
    left:        50%;
    margin-top:  160px;
    margin-left: -64px;
}

.b_right
{
    width:       128px;
    height:      128px;
    padding:     0;
    display:     block;
    position:    absolute;
    top:         50%;
    left:        50%;
    margin-top:  160px;
    margin-left: 88px;
}